.container {
    width: 150px;
    height: 211px;
    margin: 10px 10px;

    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    border-radius: 0.25rem;
}

.text{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

h3{
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0 3px 6px 7px;
}

span{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin: 0 3px 6px 7px;
}